<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="Selection Toolbar v0.1"
        android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="ChatGPT selection toolbar prototype: C / A / AC / +GPT / Tr" />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
