<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="FLAG Secure LSPatch Compat"
        android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="LSPatch 439 compatibility build for Disable-FLAG_SECURE" />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
